.box{
    background: #3A4042;
    width: 39.375rem;
    height: 11.5rem;
    box-shadow: 0.625rem 0.625rem 0rem black;
    text-align: center;
}

.box .title {
    margin-top: 2.625rem;
    margin-bottom: 1.438rem;
}