.container-jogos {
    position: relative;
    width: 100%;
    height: 35.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coluna-esquerda,
.coluna-direita {
    display: flex;
    flex-direction: column;
    gap: 12rem;
}

.conjunto-jogo {
    margin: 0px 11.625rem;
    display: flex;
}

.conjunto-jogo img {
    max-width: 100%;
}

.container-jogos .nome-jogo {
    color: #FFF;

    font-family: "Press Start 2P";
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 0.3125rem;
    margin: 0;
    margin-left: 1.6875rem;
}